{{ define "content" }}

<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-3">
		<form class="form-inline" role="form" method="post" action="/submit">
			<div class="form-group">
				<label class="sr-only" for="weight">Weight</label>
				<input type="number" class="form-control input-sm" id="weight" name="weight" placeholder="Enter today's weight">
			</div>
			<button type="submit" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</form>
	</div>
</div>

<div class="row">
	<canvas id="weightChart" width="1150" height="400"></canvas>
</div>
{{ end }}
